@model SAGE_APP.Models.Projeto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataProva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataProva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumVagas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumVagas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjetoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
